:root {
  --background: #050505;
  --foreground: #ededed;
  --primary: #dd2431;
  /* Neon Red */
  --secondary: #9d00ff;
  /* Neon Purple */
  --accent: #00efff;
  /* Cyan */
  --font-inter: var(--font-inter);
  --font-orbitron: var(--font-orbitron);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: var(--primary);
  color: #000;
}